
/*************** R E S E T **********************/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/***************** MY STYLE *************************/
body {
  display: grid;
  grid-template-rows: max(10vh, 100px) 3fr;
}
.header, .menu, .wrapper {
  display: flex;
}

.header, .container {
  padding: 0 1.5vw 0 1.5vw;
}
.header {
  font-size: clamp(1.2rem, 1vw + 1rem, 3rem);
  align-items: center;
  justify-content: space-between;
  background-color: gray;
}

.menu {
  height: 50%;
  flex: .2;
  justify-content: end;
  gap: min(.5vw, 32px)
}

.menu > .separator {
  background-color: black;
  width: 2px;
  opacity: 25%;
}

a {
  text-decoration: none;
  color: black;
  font-size: clamp(1rem, 1vw + .5rem, 2rem);
}

a:hover {
  color: burlywood;
}

.menu-items {
  align-self: center;
}

.container {
  height: auto;
  background-color: burlywood;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.wrapper {
  margin-top: 1%;
  justify-content: space-between;
}

.books-title {
  font-size: clamp(2rem, 1vw + 1rem, 3rem);
}

.button {
  width: clamp(4rem, 3vw + 6rem, 10vw);
  background-color: gray;
  font-size: clamp(1rem, 1vw + 1rem , 2.5rem);
  box-shadow: 2px 4px 3px gray;
  border-radius: 5px;
}

.button:hover {
  background-color:  rgba(128,128,128, .7);
}

.book-container {
  margin: 1% 0 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(clamp(300px, 20vw, 600px), 1fr));
  gap: min(.5vw, 32px);

}
.book {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, .5);
  height: max(800px, 25rem);
  background-color: white;
}