
/*************** R E S E T **********************/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/***************** My styling *************************/
body {
  display: grid;
  grid-template-rows: .3fr 3fr;
  
}

.header {
  font-size: clamp(1.2rem, 1vw + 1rem, 3rem);
  padding: 0 1.5vw 0 1.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: gray;
}

.menu {
  height: 50%;
  flex: .2;
  justify-content: end;
  display: flex;
  gap: min(.5vw, 32px)
}

.menu > .separator {
  background-color: black;
  width: 2px;
}

a {
  text-decoration: none;
  color: black;
  font-size: clamp(1rem, 1vw +.5rem, 2rem);

}
a:hover {
  color: burlywood;
}

.menu-items {
  align-self: center;
}

.container {
  padding: 0 1.5vw 0 1.5vw;
  height: 100%;
  background-color: burlywood;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}